node_modules/
public/images/products/
npm-debug.log
yarn-debug.log
yarn-error.log
.env
.DS_Store
.vscode/
dist/
build/
out/
*.log
package-lock.json
yarn.lock
.idea/
*.min.js
*.min.css
.pnp.*
pnp.js
public/images/temp/*
public/images/products/*.webp