<section id="contactsection">
    <div class="heading">
        <p id="btn-heading">Contact Us</p>
        <h1>Get In Touch <span>With Us</span></h1>
        <p>For any queries or information, feel free to contact us. We are always here to help you.</p>
    </div>
    <div id="details">
        <div class="detail-box">
            <a href="https://maps.app.goo.gl/7iSA9uBCFWpqXsrh8">
                <i class="ri-map-pin-line"></i>
                <h1>Our Address</h1>
                <p>Shop 2, Katara Hills,<br> Bagmugaliya, Bhopal, Madhya Pradesh 462043</p>
            </a>
        </div>
        <div class="detail-box">
            <a href="mailto:geldixp@gmail.com">
                <i class="ri-mail-line"></i>
                <h1>Email Us</h1>
                <p>geldixp@gmail.com</p>
            </a>
        </div>
        <div class="detail-box">
            <a href="tel:+919718164407">
                <i class="ri-phone-line"></i>
                <h1>Call Us</h1>
                <p>+91 9718164407</p>
            </a>
        </div>

        <div class="detail-box">
            <a href="https://wa.me/919718164407?text=Hello%20Geldix%20Pharmaceuticals">
                <i class="ri-whatsapp-line"></i>
                <h1>Whatsapp</h1>
                <p>+91 9718164407</p>
            </a>
        </div>
    </div>
    <div id="mapandform">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d229.2248326517537!2d77.49399180307141!3d23.184892479059027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x397c410bb8c5f13f%3A0xebcae820419977f6!2sGeldix%20Pharmaceutical%20Private%20Limited!5e0!3m2!1sen!2sin!4v1710664661869!5m2!1sen!2sin"
            allowfullscreen="" referrerpolicy="no-referrer-when-downgrade" title="Google map"></iframe>
        <form id="contactform" action="">
            <input type="text" placeholder="Name">
            <input type="email" placeholder="Email">
            <input type="text" placeholder="Subject">
            <textarea name="" id="" placeholder="Message"></textarea>
            <button>Send</button>
        </form>
    </div>
</section>