<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geldix Pharmaceuticals Private Limited</title>
    <meta name="description"
        content="Our objective is to provide high quality, affordable and innovative healthcare products to people across the globe. We are committed to our customers and partners and have a passion for technology and innovation.">
    <meta name="keywords"
        content="geldix, geldix pharmaceutical, geldix pharmaceuticals, geldix pharmaceuticals private limited, geldix pharama, bhim singh, seema patel">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="preload" href="/stylesheets/dashboard.css" as="style"><link rel="stylesheet" href="/stylesheets/dashboard.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>

</head>

<body>

    <div class="loader-wrapper">
        <div class="loader"></div>
    </div>

    <main>
        <%- include('header') %>
            <div id="messageContainer"></div>
            <div id="sidebar">
                <h4 onclick="allproducts()">All Products</h4>
                <h4 onclick="showCreateForm()">Add Products</h4>
                <h4 onclick="logout()">Logout</h4>
            </div>

            <div id="panel">
                <div id="allproducts">
                    <h2>Products List</h2>
                    <div id="product-list"></div>
                </div>
                    

                <div id="createProductForm" class="form-container">
                    <form action="/api/add" enctype="multipart/form-data" method="post" id="createForm">
                        <h2>Create Product</h2>
                        <label for="addproductname">Product Name:</label>
                        <input type="text" id="addproductname" name="name" autocomplete="off" required><br><br>
                        <label for="addproductdescription">Product desctiption:</label>
                        <input type="text" id="addproductdescription" name="description" autocomplete="off" required><br><br>
                        <label for="addproductcategory">Product category:</label>
                        <input type="text" id="addproductcategory" class="productcategory" name="category" autocomplete="off" required><br><br>
                        <label for="addimage">Image</label>
                        <input type="file" id="addimage" name="image" accept=".jpg, .png, .webp, .jpeg" required><br>
                        <input type="submit" value="Submit" id="addSubmitBtn" class="btn">
                    </form>
                </div>

                <div id="updateProductForm" class="form-container">
                    <form action="" enctype="multipart/form-data" method="post" id="updateForm">
                        <h2>Update Product</h2>
                        <label for="updateproductname">Product Name:</label>
                        <input type="text" id="updateproductname" name="name" autocomplete="off" value="" ><br><br>
                        <label for="updateproductdescription">Product desctiption:</label>
                        <input type="text" id="updateproductdescription" name="description" autocomplete="off" value="" ><br><br>
                        <label for="updateproductcategory">Product category:</label>
                        <input type="text" id="updateproductcategory" class="productcategory" name="category" autocomplete="off"><br><br>
                        <label for="updateimage">Image</label>
                        <input type="file" id="updateimage" name="image" accept=".png, .jpg, .jpeg, .webp"><br><br>
                        <input type="hidden" name="productid" id="updateproductid" name="id" value="">
                        <input type="submit"  value="Submit" id="updateSubmitBtn" class="btn">
                    </form>
                </div>
            </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="/javascripts/dashboard.js"></script>
    <script src="/javascripts/script.js"></script>
</body>

</html>