<footer>
    <div id="address">
        <h1>Geldix <br>Pharmaceuticals <br>Private <br>Limited</h1>
    </div>

    <div id="madeby">
        <p>Made with <i class="ri-heart-fill"></i> by <a href="https://in.linkedin.com/in/aakash6250">Aakash
                Patel</a></p>
    </div>

</footer>