<footer>
    <div id="address">
        <h1>Geldix <br>Pharmaceuticals <br>Private <br>Limited</h1>
        
        <a href="https://www.google.com/maps/place/Geldix+Pharmaceutical+Private+Limited/@23.1850746,77.4941069,15z/data=!4m6!3m5!1s0x397c410bb8c5f13f:0xebcae820419977f6!8m2!3d23.1850746!4d77.4941069!16s%2Fg%2F11shx9byh3?entry=ttu">
            <i class="ri-map-pin-line"></i>
            Shop 2, Katara Hills, Bagmugaliya, Bhopal, Madhya Pradesh 462043
        </a>
        <a href="mailto:geldixp@gmail.com">
            <i class="ri-mail-line"></i>
            geldixp@gmail.com
        </a>
        <a href="tel:919718164407">
            <i class="ri-phone-line"></i>
            +91 9718164407
        </a>
    </div>

    <div id="madeby">
        <p>Made with <i class="ri-heart-fill"></i> by <a href="https://in.linkedin.com/in/aakash6250">Aakash Patel</a></p>
    </div>
    
</footer>