<header>
    <div id="contact">
        <div id="email">
            <a href="mailto:geldixp@gmail.com">
                <i class="ri-mail-line"></i>
                geldixp@gmail.com
            </a>
        </div>
        <div id="phone">
            <a href="tel:919718164407">
                <i class="ri-phone-line"></i>
                +91 9718164407
            </a>
        </div>
        <div id="social">
            <a href=""><i class="ri-twitter-line"></i></a>
            <a href=""><i class="ri-facebook-line"></i></a>
            <a href=""><i class="ri-instagram-line"></i></a>
            <a href="https://wa.me/919718164407?text=Hello%20Geldix%20Pharmaceuticals"><i class="ri-whatsapp-line"></i></a>
        </div>
    </div>
    <nav>
        <div id="logo">
        </div>
        <div id="menu">
            <a href="/">Home</a>
            <a href="/products">Products</a>
            <a href="/contact">Contact Us</a>
            <a href="/admin">Admin</a>
        </div>
    </nav>
</header>