<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geldix Pharmaceuticals Private Limited</title>
    <meta name="description" content="Our objective is to provide high quality, affordable and innovative healthcare products to people across the globe. We are committed to our customers and partners and have a passion for technology and innovation.">
    <meta name="keywords" content="geldix, geldix pharmaceutical, geldix pharmaceuticals, geldix pharmaceuticals private limited, geldix pharama, bhim singh, seema patel">
    <link rel="shortcut icon" href="/public/images/icon.webp" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>

<body>

    <section id="hero">
    </section>


    <main>
        <%- include('header') %>

        <section id="herocontent">
            <div id="content">
                <h1>Welcome to <span>GELDIXPHARMA</span></h1>
                <p>We are team of extremely passionate people who strive to make a difference in Healthcare</p>
                <button>About Us</button>
            </div>
        </section>

        <section id="aboutsection">
            <div id="content">
                <div id="heading">
                    <h4>About Us</h4>
                    <h1>Find Out More <span>About Us</span></h1>
                    <p>Geldix pharmaceuticals is a dream venture of extremely passionate people who strive to make a
                        difference.</p>
                </div>
                <div id="about">
                    <div id="aboutimg">
                        <img src="/public/images/about img.webp" alt="">
                        <div class="layer"></div>
                    </div>
                    <div id="aboutcontent">
                        <h1>Our Mission</h1>
                        <p>Our mission is to provide high quality, affordable and innovative healthcare products to
                            people across the globe. We are committed to our customers and partners and have a passion
                            for technology and innovation.</p>
                        <h1>Our Vision</h1>
                        <p>Our vision is to be a leading pharmaceutical company in India and to become a significant
                            global player by providing high quality, affordable and innovative solutions in medicine and
                            treatment.</p>
                    </div>

                </div>
        </section>

        <section id="objective">
            <div id="heading">
                <h4>Our Objective</h4>
                <h1>Vision | <span>Mission</span> | Strategy</h1>
                <p>Our objective is to provide high quality, affordable and innovative healthcare products to people
                    across the globe. We are committed to our customers and partners and have a passion for technology
                    and innovation.</p>
            </div>

            <div id="objectivebox">
                <div id="first" class="obox">
                    <i class="ri-eye-line"></i>
                    <h1>Vision</h1>
                    <p>Our vision is to be a leading pharmaceutical company in India and to become a significant global
                        player by providing high quality, affordable and innovative solutions in medicine and treatment.
                    </p>
                </div>
                <div id="second" class="obox">
                    <i class="ri-compass-3-line"></i>
                    <h1>Mission</h1>
                    <p>Our mission is to provide high quality, affordable and innovative healthcare products to people
                        across the globe. We are committed to our customers and partners and have a passion for
                        technology
                        and innovation.</p>
                </div>
                <div id="third" class="obox">
                    <i class="ri-store-fill"></i>
                    <h1>Strategy</h1>
                    <p>Our strategy is to focus on the development of new products and to expand our product portfolio
                        through strategic partnerships and collaborations. We are committed to our customers and
                        partners
                        and have a passion for technology and innovation.</p>
                </div>
            </div>
        </section>

        <%- include('contact') %>
        <%- include('footer') %>
    </main>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/public/javascripts/script.js"></script>
</body>

</html>