<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Registration</title>
  <meta name="description"
    content="Our objective is to provide high quality, affordable and innovative healthcare products to people across the globe. We are committed to our customers and partners and have a passion for technology and innovation.">
</head>

<body>
  <h1>Admin Registration</h1>
  <form action="/api/register" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <label for="fullname">Full Name:</label>
    <input type="text" id="fullname" name="fullname" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <label for="secretKey">Secret Key:</label>
    <input type="text" id="secretKey" name="secretKey" required>
    <button type="submit">Register</button>
  </form>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
    integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/public/javascripts/script.js"></script>
</body>

</html>