<!DOCTYPE html>
<html>

<head>
  <title>Geldix Visitors</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiDRyyLZ2bttb5y8Fetd9eYAe5IfxYgEw&map_ids=YOUR_MAP_ID&libraries=marker"></script>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
  <style>
    main {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    #map {
      height: 600px;
      width: 100%;
    }

    .custom-marker {
      background-color: #2196F3;
      color: white;
      padding: 5px;
      border-radius: 5px;
      font-size: 16px;
      text-align: center;
    }

    .visitors {
      background-color: #2196F3;
      padding: 20px;
      display: flex;
      flex-direction: column;
    }

    .visitor {
      border-bottom: 2px solid white;
      width: 100%;
      display: flex;
      color: white;
      display: flex;
      justify-content: space-around;
    }

    .visitor p {
      text-align: center;
      min-width: 20%;
    }

    .total-visitor{
      color: white;
      text-align: center;
      border-bottom: 2px solid white;
    }

    @media screen and (max-width: 768px) {
      .visitor {
        flex-direction: column;
      }
    }
  </style>
</head>

<body>
  <main>
    <div class="container">
      <div id="map"></div>
    </div>
    <div class="visitors"></div>
  </main>
  <script>
    function initMap() {
      const map = new google.maps.Map(document.getElementById('map'), {
        zoom: 4,
        center: { lat: 20.5937, lng: 78.9629 },
        mapId: 'c42d2b6f67ec75fc'
      });

      fetch('/api/visitors')
        .then(response => response.json())
        .then(data => {
          const cityCounts = {};
          let visitorListSize = 0;

          const visitorsContainer = document.querySelector('.visitors');
          const totalVisitor = document.createElement('div');
          totalVisitor.className = 'total-visitor';
          totalVisitor.innerHTML = `<h2>Total Visitors: ${data.length}</h2>`;
          visitorsContainer.appendChild(totalVisitor);

          data.forEach(visitor => {
            const { lat, lng, city, country } = visitor.location;
            const updatedAt = new Date(visitor.updatedAt);
            const formattedDate = updatedAt.toLocaleString("en-IN");

            if (!cityCounts[city]) {
              cityCounts[city] = { lat, lng, country, count: 0 };
            }
            cityCounts[city].count++;

            if (visitorListSize <= 10) {
              const visitorsContainer = document.querySelector('.visitors');
              const visitorsElement = document.createElement('div');
              visitorsElement.className = 'visitor';
              visitorsElement.innerHTML = `
                            <p class="ip">IP: ${visitor.ip}</p>
                            <p class="city">${city}, ${country}</p>
                            <p class="date">Last Updated: ${formattedDate}</p>
                            <p class="time">Visit Time: ${updatedAt.toLocaleTimeString()}</p>
                            <p class="visits">${visitor.visits} visits</p>
                        `;
              visitorsContainer.appendChild(visitorsElement);
              visitorListSize++;
            }

          });

          Object.keys(cityCounts).forEach(city => {
            const cityData = cityCounts[city];
            const markerElement = document.createElement('div');
            markerElement.className = 'custom-marker';
            markerElement.innerHTML = `<i class="ri-map-pin-user-fill"></i> ${city} (${cityData.count})`;

            new google.maps.marker.AdvancedMarkerElement({
              map,
              position: { lat: cityData.lat, lng: cityData.lng },
              content: markerElement,
            });
          });
        });
    }

    window.onload = initMap;
  </script>
</body>

</html>