@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap');


@font-face {
    font-family: Noto;
    src: url(/public/fonts/noto.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100vh;
    font-family: Noto, "Noto Sans JP";
}

body {
    font-family: Noto, "Noto Sans JP";
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f5f5f5;
    color: #333;
}

.container {
    width: 100%;
    max-width: 400px;
}

.card {
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img{
    width: 10vw;
    margin: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

}

h2 {
    text-align: center;
    color: #333;
}
.card>*{
    margin: 2vw 0;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
    outline: none;
    color: #333;
}

input:focus {
    border-color: #1f9993;
}

button {
    background-color: #1f9993df;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #1f9993;
    box-shadow: 2px 2px 2px 1px #1f99935a;
}