@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap');


@font-face {
    font-family: Noto;
    src: url(../public/fonts/noto.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100vh;
    font-family: 'Noto', 'Open Sans', sans-serif;
}


section{
    background-color: white;
}

header{
    position: sticky;
    top: -5vh;
    z-index: 999;
}

#contact{
    background-color: #10847E;
    padding: 0 10vw;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#email,#phone,#social{
    display: flex;
    justify-content: space-between;
}

#social{
    width: 10%;
}

#contact  a{
    color: white;
}


nav{
    width: 100%;
    height: 10vh;
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

nav #logo{
    width: 40vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:url('../images/logo.webp');
    background-size: contain;
    background-repeat: no-repeat;
}

nav i{
    display: none;
}

nav #menu{
    width: 25vw;
    display: flex;
    justify-content: space-around;
}

nav a{
    color: black;
    text-decoration: none;
}

section{
    width: 100%;
}

section .content{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    justify-content: space-around;
    padding: 2vh 0;
}

section .heading{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1vh;
    padding: 2vh 0;
}

section .heading h4{
    background-color: #1f9993;
    color: white;
    padding: 2vh 2vw;
    border-radius: 50px;
}

section .heading h1{
    font-size: 1.5rem;
}

section .heading p{
    font-size: 1rem;
}

section .heading span {
    color: #1f9993;
}

#herosection{
    height: 70vh;
}

#heroimage{
    width: 100%;
    height: 70vh;
    background: url('../images/hero.webp');
    background-size: cover;
    background-position: start;
    position: absolute;
    z-index: 0;
}

#herocontent{
    width: 100%;
    height: 70vh;
    background-color: #10847e2f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: absolute;
    z-index: 1;
    padding: 0 5vw;
    gap: 3vh;
    color: white;
}

#herocontent h1{
    font-size: 2.5rem;
    font-weight: 900;
}


#herocontent p{
   font-size: 1.2rem;
}

#herocontent #content button{
    width: max-content;
}

#aboutsection{
    min-height: 90vh;
}



#about{
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3vw;
}

#about #aboutimg{
    width: 35vw;
    height: 50vh;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
} 

#aboutimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#about #aboutcontent{
    width: 50vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
} 

#aboutcontent h1{
    font-size: 2rem;
    color: #10847E;
}

.layer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #10847e3d;
}

#objectivesection{
    min-height: 100vh;
    background-color: #F4F5FC;
}

#objectivesection #objectivebox{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    gap: 2vw;
    align-items: center;
}

#objectivesection #objectivebox .obox{
    width: 22vw;
    height:55vh;
    border-radius: 10px;
    overflow: hidden;
    padding: 2vh 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
    align-items: center;
    border: 1px solid #b2dedb;
    box-shadow: 2px 2px 5px #b2dedb7e;
}

#objectivesection #objectivebox .obox i{
    font-size: 4rem;
    background-color: white;
    border-radius: 5px;
    padding: 2vh;

}

#objectivesection #objectivebox .obox h1{
    font-size: 1.5rem;
}

#objectivesection #objectivebox .obox p{
    font-size: 1rem;
    text-align: center;
}

#contactsection{
    min-height: max-content;
}

#contactsection #details{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    padding: 4vh 0;
}

#contactsection #details .detail-box{
    border: 1px solid #b2dedb;
    width: 20vw;
    height: 20vh;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    box-shadow: #b2dedb7e 2px 2px 5px;
    padding: 1vh 1vw;
    text-align: center;
}

a{
    color: black;
    text-decoration: none;
}


#contactsection #details .detail-box i{
    font-size: 3rem;
    color: #10847E;
}

#contactsection #mapandform{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    padding: 3vh 0;
}

#contactsection #mapandform #map{
    width: 40%;
    height: 50vh;
    border-radius: 10px;
    overflow: hidden;
}

#contactsection #mapandform #contactform{
    width: 40%;
    height: 100%;
}

#contactsection #mapandform form{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 0% 20%;
}

#contactsection #mapandform form input{
    border: 1px solid #b2dedb;
    padding: 1vh;
}

#contactsection #mapandform form textarea{
    border: 1px solid #b2dedb;
    padding: 1vh;
    resize: none;
}

#contactsection #mapandform #map iframe{
    width: 100%;
    height: 100%;
    border: none;
}

footer{
    width: 100%;
    height: 50vh;
    background-color: #F4F5FC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer #address{
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding: 3vh 5vw;
}

footer #address h1{
    color: #10847E;
}

footer #madeby{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    padding-left: 3vw;
    border-top: 1px solid #b2dedb;
    font-size: 1rem;
}

footer #madeby i{
    font-size: 1.1rem;
    color: red;
}



#products-section{
    width: 100%;
    height: max-content;
    background-color: #10847e22 ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#products-section #products{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#products-section #products #products-controles{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    padding: 3vh 5vw;
}

#products-section #products #products-controles #search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
}

#products-section #products #products-controles #search > input{
    width: 25vw;
    padding: 1.5vh 1vw;
    border: 1px solid #b2dedb;
    border-radius: 30px;
    font-size: 1rem;
}

#products-section #products #products-controles #search i{
    color: #10847E;
    font-size: 2rem;
}

#products-section #products #products-list{
    width: 80%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
    margin-bottom: 10vh;
}

#products-section #products #products-list #product{
    overflow: hidden;
    border-radius: 20px;
    border: 1px solid #b2dedb;
}

#products-section #products #products-list #product:hover{
    box-shadow: 2px 2px 10px #b2dedba8;
}

#products-section #products #products-list a{
    width: 15vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vh 1vw;
    gap: 3vh;
}

#products-section #products #products-list #product img{
    width: 80%;
    object-fit: contain;
}


#products-section #products #products-controles #filter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    width: 30vw;
    flex-wrap: wrap;
    padding: 1vh 1vw;
}




.card {
    width: 40vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


h2 {
    text-align: center;
    color: #333;
}
.card>*{
    margin: 2vw 0;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
    outline: none;
    color: #333;
}

input:focus {
    border-color: #1f9993;
}

button {
    background-color: #1f9993;
    color: #fff;
    padding: 2vh 2vw;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.2rem;
}

button:hover {
    box-shadow: 2px 2px 2px 1px #1f99935a;
}



/* Media Queries */

@media (width< 576px) {
    header{
        position: relative;
        top: 0;
    }

    #contact{
        padding: 0 5vw;
    }

    #social{
        display: none;
    }

    nav{
        padding: 0 5vw;
    }

    nav #logo{
        width: 50vw;
    }

    nav #menu{
        display: none;
    }

    nav i{
        display: block;
        font-size: 2rem;
    }

    #herosection{
        height: 50vh;
    }

    #heroimage{
        height: 50vh;
    }

    #herocontent{
        height: 50vh;
    }

    button{
        font-size: 1rem;
        padding: 2vh 4vw;
    }

    section .heading h4{
        padding:2vh 4vw;
    }

    #about{
        flex-direction: column;
    }

    #about #aboutimg{
        width: 80%;
        height: 40vh;
    }

    #about #aboutcontent{
        width: 80%;
        height: max-content;
        text-align: center;
        padding: 3vh 0;
    }

    #objectivesection #objectivebox{
        flex-direction: column;
        gap: 3vh;
    }

    #objectivesection #objectivebox .obox{
        width: 80%;
        height: max-content;
    }

    #contactsection #details{
        flex-direction: column;
        gap: 3vh;
        padding: 3vh 0;
    }

    #contactsection #details .detail-box{
        width: 80%;
        height: max-content;
        padding: 2vh;
    }

    #contactsection #mapandform{
        flex-direction: column;
        gap: 3vh;
        padding: 3vh 0;
    }
    

    #contactsection #mapandform #map{
        width: 90%;
        height: 50vh;
    }

    #contactsection #mapandform #contactform{
        width: 90%;
        background-color: #10847E2f;
        padding: 10% 5%;
        border-radius: 5%;
    }

    #contactsection #mapandform form{
        padding: 0% 5%;
    }

    
}