* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    border: 8px solid #0d5e5929;
    border-top: 8px solid #0D5E59;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

a {
    color: black;
    text-decoration: none;
}


main {
    width: 100%;
    height: max-content;
    display: none;
}

header {
    width: 100%;
    height: 13vh;
}

#contact {
    width: 100%;
    height: 4vh;
    background-color: #0D5E59;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

#contact a {
    color: white;
}

nav {
    width: 100%;
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: relative;
}

nav img {
    width: 160px;
    height: 8vh;
}

#menu {
    display: flex;
    gap: 3vw;
    font-size: 1.1rem;
}

#menuicon {
    display: none;
    font-size: 1.5rem;
}

#dropdownmenu{
    display: none;
    position: absolute;
    width: 40%;
    height: max-content;
    top: 13vh;
    right: 10vw;
    background-color: #0d5e595a;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    padding: 1vmax 2vmax;
    z-index: 999;
    font-weight: 700;
}

#dropdownmenu a{
    color: white;
    display: block;
    padding: 1vmax;
}

section {
    width: 100%;
    height: max-content;
}

#herosection{
    min-height: 80vh;
    position: relative;
}

#herosection img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

#herocontent{
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 0;
    background-color: #0d5e5949;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4vh;
    padding: 0 10%;
    font-size: 1.3rem;
}


#herocontent a {
    color: white;
    background-color: #0D5E59;
    padding: 10px 20px;
    width: max-content;
    border-radius: 40px;
}


section .heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 20vw;
    text-align: center;
    gap: 2vh;
}

section .heading h1 {
    font-size: 1.5rem;
}

section .heading span{
    color: #0D5E59;
}

section .heading> #btn-heading{
    background-color: #0D5E59;
    padding: 10px 20px;
    width: max-content;
    border-radius: 30px;
    color: white;
}

#about{
    display: flex;
    align-items: center;
    padding: 5vmax 10%;
    gap: 3vw;
}


#aboutimg{
    width: 30vw;
    height: 60vh;
    border-radius: 30px;
    overflow: hidden;
}

#aboutimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#aboutcontent{
    width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 15vh;
}

.aboutcontent-point h1{
    font-size: 2rem;
}

.aboutcontent-point p{
    font-size: 1.1rem;
}

#aboutsection{
    background-color: #18928a16;
}

#objectivesection #objectivebox{
    display: flex;
    padding: 5vmax 10vmax;
    gap: 3vmax;
}

#objectivebox .obox{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 5vw 3vw;
    border-radius: 20px;
    text-align: center;
    gap: 3vh;
    border: 2px solid #0D5E59;
    box-shadow: 5px 5px 10px 1px #0d5e5917;
}

.obox i{
    font-size: 2rem;
    border: 2px solid #0D5E59;
    padding: 1vmax;
    border-radius: 20px;
}

#details {
    display: flex;
    padding: 5vmax 10%;
    gap: 3vmax;
}

.detail-box {
    padding: 5% 1%;
    background-color: #18928a16;
    border-radius: 20px;
    text-align: center;
    border: 2px solid #0D5E59;
    box-shadow: 5px 5px 10px 1px #0d5e5915;
    min-width: 20vw;
}

.detail-box i{
    font-size: 2rem;
}

#mapandform{
    min-height: 50vh;
    display: flex;
    padding: 5vmax 10vmax;
    gap: 3vmax;
}

#mapandform *{
    width: 50%;
}

iframe{
    border: 1px solid #0D5E59;
    height: 40vh;
    border-radius: 5px;
}

#contactform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3%;
    height: 40vh;
    background-color: #EBF6F5;
    border-radius: 10px;
}

#contactform > input, textarea{
    border: 1px solid #0D5E59;
    padding: 1vmin;
    min-width: 90%;
}

#contactform *::placeholder{
    color: #0D5E59;
}

#mapandform form button{
    background-color: #0D5E59;
    border: none;
    color: white;
    border-radius: 50px;
    font-size: 1.1rem;
    width: max-content;
    padding: 1vmax 2vmax;
    cursor: pointer;
}



textarea{
    resize: none;
}

footer{
    background-color: #EBF6F5;
}

#address{
    padding: 3vmax 3%;
    display: flex;
    flex-direction: column;
    gap: 3vmax;
    justify-content: center;
}

#address a{
    display: inline;
    width: max-content;
}

#madeby{
    background-color: #0D5E59;
    color: black;
    font-size: 1.2rem;
    padding: 1vmin 5%;
}

#madeby i{
    color: red;
}

#madeby a{
    color: white;
}

#products{
    background-color: #18928a16;
}

#products-controls{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vmax 10vmax;
    gap: 3vmax;
}


#searchform{
    width: 100%;
    display: flex;
    gap: 2vmax;
}

#products-controls #search{
    display: flex;
    align-items: center;
    height: 5vh;
    width: 40vw;
}

#search input{
    width: 85%;
    padding: 1vmin;
    border: none;
    border-radius: 20px;
}

#search button{
    color: #0D5E59;
    font-size: 1.6rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#filters{
    width: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#filters a{
    background-color: #0D5E59;
    color: white;
    padding: 1vmin 1vmax;
    margin: 1vh;
    border-radius: 30px;
}

#products-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5vmax;
    gap: 3vmax;

}

#products-list .product{
    width: 200px;
    height: 340px;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    border: 2px solid #0d5e598a;
    background-color: rgba(255, 255, 255, 0.273);
    padding: 1vmax;
}

.product #product-image{
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.product img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: white;
}

.product img:hover{
    transform: scale(1.3);
    transition: 0.5s ease;
}


.product h4{
    padding: 0.5rem 0;
    font-size: 1.2rem;
}

.product p{
    overflow: hidden;
    text-overflow: ellipsis;
}

#product-category{
    color: #0D5E59;
    margin-bottom:1rem;
}


#adminform{
    width: 100%;
    height: 100vh;
}

#adminform form{
    background-color: #EBF6F5;
    width: 40vw;
    height: max-content;
    padding: 5vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #0D5E59;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 3vmin;
    text-align: center;
}

#adminform input{
    padding: 1vmin;
}

#adminform button{
    background-color: #0D5E59;
    width: max-content;
    color: white;
    padding: 1vmin 2vmax;
    border: none;
    border-radius: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}






@media (width>=320px) and (width<=480px) {

    #social{
        display: none;
    }

    #menuicon {
        display: block;
    }

    #menu {
        display: none;
    }

    #about{
        flex-direction: column;
    }

    #aboutimg{
        width: 80vw;
        height: 50vh;
        position: relative;
    }

    #aboutimg .layer{
        background-color: #0d5e5944;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
    }
    
    
    #aboutcontent{
        width: 80vw;
        height: max-content;
        gap: 5vh;
        padding: 5vh 0;
        text-align: center;
    }

    section .heading{
        padding: 5vw;
    }

    #objectivesection #objectivebox{
        flex-direction: column;
    }

    .obox i{
        padding: 2vmax;
    }

    #details{
        flex-direction: column;
    }

    #mapandform{
        flex-direction: column;
        align-items: center;
        padding: 5%;
    }

    #mapandform  *{
        width: 90%;
    }

    #dropdownmenu{
        width: 80%;
        right: 10%;
    }

    #products-controls{
        flex-direction: column;
    }

    #products-controls{
        flex-direction: column;
    }

    #products-controls #search{
        width: 90vw;
    }

    #filters{
        width: 90vw;
    }

    #searchform{
        width: 100%;
    }

    #products-list .product{
        width: 65vw;
        height: 400px;
    }

    #adminform form{
        width: 80vw;
    }
}

@media (width>=481px) and (width<=768px) {

    #social{
        display: none;
    }

    #menuicon {
        display: block;
    }

    #menu {
        display: none;
    }

    #about{
        flex-direction: column;
    }

    #aboutimg{
        width: 80vw;
        height: 50vh;
    }
    
    
    #aboutcontent{
        width: 80vw;
        height: max-content;
        gap: 5vh;
        padding: 5vh 0;
        text-align: center;
    }

    section .heading{
        padding: 10vw;
    }

    #objectivesection #objectivebox{
        flex-direction: column;
    }

    .obox i{
        padding: 2vmax;
    }

    #details{
        flex-direction: column;
    }

    #mapandform{
        flex-direction: column;
        align-items: center;
        padding: 8%;
    }

    #mapandform *{
        width: 80%; ;
    }

    #products-controls{
        flex-direction: column;
    }

    #products-controls #search{
        width: 90vw;
    }

    #filters{
        width: 90vw;
    }

    #searchform{
        width: 100%;
    }

    #adminform form{
        width: 60vw;
    }
}